h1 {
   color: #d22e3a
}

p.first {
    background-color:#aaa;
}

p.second {
    background-color:#bbb;
}

p.third {
    background-color:#ccc;
}

p.fourth {
    background-color:#ddd;
}

p.fifth {
    background-color:#eee;
}